html body{
	margin:0;
	height:calc(100vh);
	overflow-y: hidden;
}
.menu{
	height:100%;
	width:20%;
	border:2px black;
	overflow-y: scroll;
	padding-left:5px;
	padding-right:5px;
	display:inline-block;
}
.editor{
	height:90%;
	width:75%;
	position: absolute;
    top: 5px;
    right: 5px;
}
textarea{
	padding:0;
}
